<div class="d-flex justify-content-between border border-dark rounded p-3 property-card">
  <div class="d-flex">
    <div class="card h-100 property-card">
      <%= image_tag 'parisien-flat.png', class: "card-img-top", alt: "..." %>
      <div class="card-body">
        <p class="card-text">3 bedroom flat in the heart of Paris</p>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="card h-100 property-card p-4">
      <h3 class="text-center pb-3">Booking Details</h3>
      <ul class="fs-4">
        <li>Booking Date : <%= booking.created_at.strftime('%B %d, %Y') %></li>
        <li>Check-in Date : <%= booking.start_date.strftime('%B %d, %Y') %></li>
        <li>Check-out Date : <%= booking.end_date.strftime('%B %d, %Y') %></li>
        <li>Number of guests : <%= booking.number_of_guests %></li>
        <li>Total price paid : <%= number_to_currency(booking.total_price) %></li>
      </ul>

      <h3 class="text-center pt-4">This booking has passed</h3>

    </div>
  </div>
</div>
