<div class="d-flex justify-content-between border border-dark p-3 mb-4">

  <div class="d-flex">
    <div class="card h-100 property-card">
      <%= cl_image_tag booking.property.photo.key, crop: :fill, height: 200, class: "img-fluid card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to booking.property.title, property_path(booking.property) %>
        </h5>
        <p class="card-text"><%= booking.property.description %></p>
        <p class="price align-self-end"><strong><%= booking.property.price_per_night %>$</strong></p>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <%= link_to booking_path(booking), class: "text-decoration-none" do %>
      <div class="card h-100 property-card p-4 ">
        <h3 class="text-center pb-3">Booking Details</h3>
        <ul class="fs-4">
          <li>Booking Date : <%= booking.created_at.strftime('%B %d, %Y') %></li>
          <li>Check-in Date : <%= booking.start_date.strftime('%B %d, %Y') %></li>
          <li>Check-out Date : <%= booking.end_date.strftime('%B %d, %Y') %></li>
          <li>Number of guests : <%= booking.number_of_guests %></li>
          <li>Total price paid : <%= number_to_currency(booking.total_price) %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
