<div class="container">

  <div class="row">
    <%= render partial: "booking_details_card", locals: { booking: @booking }  %>
  </div>

  <div class="col-md-4 offset-md-4">

    <% if @booking.review.nil? %>

      <h4 class="text-center mb-4 mt-4">Write a review</h4>

      <%= form_with(model: @review, url: booking_reviews_path(@booking), scope: :review, local: true) do |form| %>

        <div class="border solid rounded-lg mb-2">
          <%= form.label :rating, 'Rating', class: 'sr-only' %>
          <%= form.number_field :rating, class: 'form-control', placeholder: 'Rate this from 1 - 5' %>
        </div>

        <div class="border rounded-lg mb-2">
          <%= form.label :content, 'Review Content', class: 'sr-only' %>
          <%= form.text_area :content, class: 'form-control', placeholder: 'Tell us what you thought', rows: 5 %>
        </div>

        <div class="d-flex justify-content-center">
          <%= form.submit 'Submit Review', class: 'btn btn-primary mb-2' %>
        </div>
      <% end %>

    <% elsif @booking.end_date > Date.today %>
      <h2 class="text-center">You can't review this property yet</h2>
    <% else %>
      <%= render partial: "review_card", locals: { review: @review }  %>
    <% end %>
  <div>
</div>
