<h2 class="text-center mt-3"> Here is your booking</h2>
  <div class="container mt-4">
    <div class="one_column">
      <%= render partial: "booking_details_card", locals: { booking: @booking }  %>
    </div>
  </div>

  <% if @booking.end_date < Date.today %>
    <%= form_with(model: @review, url: booking_reviews_path(@booking), scope: :review,  local: true) do |form| %>
    <%= form.label :content, 'Review Content' %>
    <%= form.text_area :content %>

    <%= form.label :rating, 'Rating' %>
    <%= form.number_field :rating %>

    <%= form.submit 'Submit Review' %>
    <% end %>
  <% else %>
    <h2>You cant review this property yet</h2>
  <% end %>

</div>
