<% if @property.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

    <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container d-flex justify-content-center">

  <div class="m-3 property-card col-6 p-5">

    <h4 class="text-center">Create a property</h4>

    <%= simple_form_for(@property, html: { multipart: true }) do |f| %>
      <%= f.input :title, input_html: { class: "form-control round_textbox" } %>
      <%= f.input :description, input_html: { class: "form-control round_textbox", rows: 6 } %>
      <%= f.input :location,
        input_html: {data: {location_autocomplete_target: "location"}, class: "d-none"},
        wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
      <%= f.input :price_per_night, as: :decimal, input_html: { class: "form-control round_textbox" } %>
      <%= f.input :property_type, collection: ['Hotel', 'Flat', 'Room', 'Apartment', 'Block of flat', 'Bed and Breakfast', 'Motel'], prompt: "Select building type", input_html: { class: "form-control round_textbox" }%>
      <%= f.input :max_guests, as: :integer, input_html: { class: "form-control round_textbox" } %>
      <%= f.input :photos, as: :file, input_html: { multiple: true, class: "form-control round_textbox"} %>
      <div class="d-flex justify-content-center mt-4">
        <%= f.submit class: 'btn btn-primary rounded-pill fs-5 px-4'%>
      </div>


    <% end %>
  </div>
</div>
