<% if @property.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

    <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1 class="text-center">Create a property</h1>
<div class="container">
<%= simple_form_for(@property) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :price_per_night, as: :decimal%>
  <%= f.input :property_type, collection: ['Hotel', 'Flat', 'Room', 'Apartment', 'Block of flat', 'Bed and Breakfast', 'Motel'], prompt: "Select building type" %>
  <%= f.input :max_guests, as: :integer%>
  <%= f.input :photo, as: :file %>
  <%=f.submit %>
<% end %>
</div>
