<h1 class="text-center"><%= @property.title %></h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <img src="<%= cl_image_path(@property.photo.key) %>" class="card-img-top" alt="<%= @property.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= @property.title %></h5>
          <p class="card-text"><%= @property.description %></p>
          <p class="card-text"><strong>Location:</strong> <%= @property.location %></p>
          <p class="card-text"><strong>Price per Night:</strong> <%= number_to_currency(@property.price_per_night) %></p>
          <p class="card-text"><strong>Property Type:</strong> <%= @property.property_type %></p>
          <p class="card-text"><strong>Max Guests:</strong> <%= @property.max_guests %></p>
        </div>
        <div class="card-footer">
          <%= link_to 'Edit', edit_property_path(@property), class: "btn btn-primary" %>
          <%= link_to 'Back', properties_path, class: "btn btn-secondary" %>
        </div>
      </div>

      <% if @property.user == current_user %>
        <div class="container mt-5">
          <h3 class="mb-4">Future Bookings</h3>
          <% future_bookings = @property.bookings.select { |booking| booking.start_date >= Date.today } %>

          <% if future_bookings.any? %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Number of Guests</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                <% future_bookings.each do |booking| %>
                  <tr>
                    <td><%= booking.start_date.strftime('%B %d, %Y') %></td>
                    <td><%= booking.end_date.strftime('%B %d, %Y') %></td>
                    <td><%= booking.number_of_guests %></td>
                    <td><%= number_to_currency(booking.total_price) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p>No future bookings.</p>
          <% end %>
        </div>
      <% else %>
        <h3 class="text-center mb-4 mt-4">Make a Booking</h3>
        <%= form_with(model: @booking, url: property_bookings_path(@property), local: true, html: { class: 'booking-form' }) do |form| %>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= form.hidden_field :property_id, value: @property.id %>
              <%= form.label :start_date, class: 'font-weight-bold' %>
              <%= form.date_select :start_date, class: 'form-control', prompt: { day: 'Day', month: 'Month', year: 'Year' } %>
            </div>
            <div class="form-group col-md-6">
              <%= form.label :end_date, class: 'font-weight-bold' %>
              <%= form.date_select :end_date, class: 'form-control', prompt: { day: 'Day', month: 'Month', year: 'Year' } %>
            </div>
          </div>
          <div class="form-group">
            <%= form.label :number_of_guests, class: 'font-weight-bold' %>
            <%= form.number_field :number_of_guests, class: 'form-control', min: 1, placeholder: 'Number of Guests' %>
          </div>
          <div class="form-group">
            <%= form.submit 'Create Booking', class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
